@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"); */


@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html {
    font-family: "Rubik", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  details[open] img {
    transform: rotate(180deg);
    filter: brightness(0) saturate(100%) invert(52%) sepia(43%) saturate(4016%) hue-rotate(326deg) brightness(98%) contrast(99%);
  }

  div[hidden] {
    display: none;
  }

  body {
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
  }

  body.lock-scroll {
    overflow: hidden;
    height: 100vh;
  }
}

@layer components {
  .transition-visibility {
    --transition: 200ms ease-in-out;
    transition: transform var(--transition), visibility var(--transition), opacity var(--transition);
  }

  :is(a, button, input, textarea, select, details, summary):focus-visible {
    outline: theme('colors.soft-blue') solid 0.188rem;
    outline-offset: 0.188rem;
  }

  .form :is(a, button, input, textarea, select, details, summary):focus-visible,
  footer :is(a, button, input, textarea, select, details, summary):focus {
    outline-color: #fff;
  }

  input.border-red-500:focus-visible,
  .bg-soft-red:focus-visible {
    outline-color: rgb(239 68 68);
  }

  .border-tab::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.1875rem;
    border-radius: 0.25rem;
    background-color: red;
    bottom: 0;
    left: 0;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  .border-tab.border-selected::after {
    transform-origin: center;
    transform: scaleX(1);
  }

  .width-fill-available {
    width: -webkit-fill-available;
  }

  .filter-dark {
    filter: invert(1) hue-rotate(180deg);
  }

  .filter-logo-white {
    filter: invert(1) brightness(6) hue-rotate(180deg);
  }

  .filter-orange {
    filter: brightness(0) saturate(100%) invert(52%) sepia(43%) saturate(4016%) hue-rotate(326deg) brightness(98%) contrast(99%);
  }

  .transition-filter {
    transition: filter 220ms linear;
    -webkit-transition: -webkit-filter 220ms linear;
  }

  .banner-1,
  .banner-2 {
    position: relative;
  }

  .bg-line {
    background: url("./assets/images/bg-dots.svg") no-repeat left 15.8125rem;
  }

  .banner-1::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    border-radius: 624.9375rem;
    bottom: 3%;
    left: 15%;
    height: 74%;
    width: 400%;
    background-color: theme('colors.soft-blue');
  }

  .banner-2::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    border-radius: 624.9375rem;
    top: 26%;
    right: 15%;
    height: clamp(9rem, 45vw, 17.375rem);
    width: 200%;
    background-color: theme('colors.soft-blue');
  }

  @media screen and (min-width: 54.4375em) {
    .banner-1::after {
      top: 5rem;
    }

    .banner-2::after {
      top: 32%;
      right: 56%;
    }
  }

  @media screen and (min-width: 87.5rem) {
    .banner-1::after {
      bottom: 0;
      top: 9rem;
      left: 12rem;
      height: 22rem;
    }

    .banner-2::after {
      top: 9.6rem;
      right: 39.6rem;
      height: 22rem;
      width: 100vw;
    }
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 0.9375rem;
  }

  ::-webkit-scrollbar-track {
    background-color: #F1F1F1;
  }

  ::-webkit-scrollbar-thumb {
    background-color: theme('colors.soft-blue');
    border-radius: 1.25rem;
    border: 0.1875rem solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(223, 100%, 75%);
  }

  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      -webkit-animation-duration: 0.01ms !important;
      animation-duration: 0.01ms !important;
      -webkit-animation-iteration-count: 1 !important;
      animation-iteration-count: 1 !important;
      -webkit-transition-duration: 0.01ms !important;
      -o-transition-duration: 0.01ms !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}


/* styles.css */
.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(
    650px circle at 0% 0%,
    hsl(218, 41%, 35%) 15%,
    hsl(218, 41%, 30%) 35%,
    hsl(218, 41%, 20%) 75%,
    hsl(218, 41%, 19%) 80%,
    transparent 100%
  ),
  radial-gradient(
    1250px circle at 100% 100%,
    hsl(218, 41%, 45%) 15%,
    hsl(218, 41%, 30%) 35%,
    hsl(218, 41%, 20%) 75%,
    hsl(218, 41%, 19%) 80%,
    transparent 100%
  );
}

@media (min-width: 992px) {
  .rotate-lg-6 {
    transform: rotate(6deg);
  }
}

/* These are the KEY styles - you can add them directly to any object you want in your project */
.fancy-border-radius {
  border-radius: 53% 47% 52% 48% / 36% 41% 59% 64%;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.black_btn {
  @apply rounded-full border border-black bg-white py-1.5 px-5 text-black transition-all text-center text-sm flex items-center justify-center;
}

.outline_btn {
  @apply rounded-full border border-black bg-white py-1.5 px-5 text-black transition-all text-center text-sm flex items-center justify-center;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.prompt_layout {
  @apply  space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-[36rem] flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

/* Nav Component */
.logo_text {
  @apply max-sm:hidden font-semibold text-lg text-black tracking-wide;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[120px] flex flex-col gap-2 justify-end items-end drop-shadow-lg;
}

.dropdown_link {
  @apply text-sm  text-gray-700 hover:text-gray-500 font-medium;
}

/* PromptCard Component */
.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit shadow-md ;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}